<html>
<head>
	<link href="static/css/style.css"   rel="stylesheet" media="screen">
	<link href="static/css/jquery.sidr.dark.css"   rel="stylesheet" media="screen">
	<link href="static/css/foundation.css"   rel="stylesheet" media="screen">
	<link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.css" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/jquery.sidr.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
	<script src="static/js/sweet-alert.min.js"></script>
	{% assets "js_all" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	<link rel="stylesheet" type="text/css" href="static/css/sweet-alert.css">


	<title>Sports betting strategies</title>
	
</head>

<body>
	<div id="container">
		{% include "left_side_slide.html" %}
		{% include "header.html" %}
		{% include "left_side_bar.html"  %}
		{% include "right_side_bar.html" %}
		{% block content %}{% endblock %}
	</div>
	<br><br><br><br><br><br><br><br>
	<div id="footer">
		<span class="copyright">
			<p>© 2014 AllWebDirectory</p>
		</span>
		<span class="source">
			<a href="/">contact us</a>
		</span>
	</div>


<script>
    $(window).load(function(){
        $("#right_side_bar").mCustomScrollbar({
        	axis: 'y'
        });
    });
</script>

</body>
</html>
