{% haml %}

%html
    %head
        %link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
        %title -> Sports betting strategies

        -assets "js_all"
            %script src="{{ ASSET_URL }}" type="text/javascript"
        -assets "css_all"
            %link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"
    %body

        #container
            -include "left_side_slide.html"
            -include "header.html"
            -include "left_side_bar.html" 
            -include "right_side_bar.html"
            -block content
        #footer
            #span.copyright
                %p -> © 2014 AllWebDirectory
            %span.source
                %a href="/" -> contact us

    <script>
        $(window).load(function(){
            $("#right_side_bar").mCustomScrollbar({
                axis: 'y'
            });
        });
    </script>

{% endhaml %}