{% haml %}

%html
    %head
        -assets "js_all"
            %script src="{{ ASSET_URL }}" type="text/javascript"
        -assets "css_all"
            %link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"
    %body
        %form#apiForm method="post" action="/test"
            .row
                .large-9.columns
                    %input#get_results_by_link name="url" type="text" autocomplete='off'
                
                .small-3.columns
                    %button.button.postfix type="submit" id="button_get" href="/test" -> get results

            .large-9.large-centered.columns#apiError
                %span#error -> {{ error }}

        -if results
            #apiResult
                .row
                    -for k,v in results.iteritems()
                        .large-3.columns
                            %label << {{ k }}

                        .large-9.columns
                            %input type="text" name="{{k}}" value="{{ v }}"

                .row
                    .large-3.large-offset-9.columns
                        %a#apply_changes.button.postfix

        -else
            -if error
                #apiResult
                    %p -> No results found

    <script type="text/javascript">

        $('input[name=id]').attr('disabled', 'disabled');
        $('input').each(function() {
            if ($(this).val() === "None") {
                $(this).attr('disabled', 'disabled');
            };
        });

        $('#apply_changes').click(function() {

            $.post('/apply_changes', {

                home_team:        $('input[name=home_team]').val(),
                away_team:        $('input[name=away_team]').val(),
                league:           $('input[name=league]').val(),
                group:            $('input[name=group]').val(),
                event_results:    $('input[name=event_results]').val(),
                ou_full_results:  $('input[name=ou_full_results]').val(),
                ou_frst_results:  $('input[name=ou_frst_results]').val(),
                ou_scnd_results:  $('input[name=ou_scnd_results]').val(),
                hda_full_results: $('input[name=hda_full_results]').val(),
                hda_frst_results: $('input[name=hda_frst_results]').val(),
                hda_scnd_results: $('input[name=hda_scnd_results]').val(),
                id : $('input[name=id]').val()

            }).done(function(data) {
                alert('Database updated');
            }); 
        })

    </script>

{% endhaml %}