{% haml %}

#header
    %a#simple-menu href="#sidr"
        #settings
            %img.settings src="{{ url_for('static', filename='img/list23.svg') }}"
    
    #logo
        %a.logo href="/"
            %i.fa.fa-futbol-o
            &nbsp;OddsCalc

    -if logged
        #menu
            %ul
                %li -> %a href="/raw_download" -> Download raw data
                %li -> %a#hide_right_side -> Hide side bar

    %script
        $('#hide_right_side').click(scroll_right_side_bar);
        $('#show_years').click(show_years);

{% endhaml %}