{% extends 'base.html' %}


{% block content %}

    <div class="mCustomScrollbar" id='content'>
        <div class="large-12 text-left columns">
            <div class="large-5 text-center columns">
                <span class="intro">
                    <p>
                        The Simulations are based on the best bookmaker odds available on the evening before each match.
                        <br><br>

                        The Odds Toggle allows you to adjust the odds to suit your own betting market. This will provide a more accurate indication of real results based on the odds you are able to obtain.
                        <br><br>

                        To formulate your personal odds toggle figure you will need to calculate the difference between the odds you have access to and the highest odds available in the market at that time for each match. Averaging together these differences will produce a toggle figure for inputting into the relevant part of the form.
                        <br><br> 
                    </p>
                </span>

                <span class="intro2">
                    <p>
                        <a href="/registration">Sign up</a> and see updates for the league of your choice directly on the home page!
                    <p>
                </span>
            </div>


            <div class="large-3 large-offset-1 text-center columns">
                <span class="intro">
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Number of Recorded Matches in Cluster</th>
                        </tr>
                        <tr>
                            <td>FTHG</td>
                            <td>Full-Time Home Goals</td>
                        </tr>
                        <tr>
                            <td>FTAG</td>
                            <td>Full-Time Away Goals</td>
                        </tr> 
                        <tr>
                            <td>FTR</td>
                            <td>Full-Time Result</td>
                        </tr> 
                        <tr>
                            <td>P/L</td>
                            <td>Profit/Loss</td>
                        </tr> 
                        <tr>
                            <td>Pld</td>
                            <td>Played</td>
                        </tr> 
                        <tr>
                            <td>R-Total</td>
                            <td>Running Total</td>
                        </tr>
                        <tr>
                            <td>W</td>
                            <td>Won</td>
                        </tr> 
                        <tr>
                            <td>W/L</td>
                            <td>Match Result: Won/Lost </td>
                        </tr> 
                    </table>
                </span>
            </div>
            <div class="large-3 text-center columns">
            </div>

        </div>
    </div>
    
{% endblock %}