{% haml %}

#sidr
    -if not logged
        #loginForm
            %form#login_form method="post" action="javascript:signIn()"
                .large-12.columns
                    %label for="username" -> Login:
                    %input type="text" name="username"
              
                .large-12.columns
                    %label for="password" -> Password:
                    %input type="password" name="password"
              
                .large-12.columns
                    %br
                    %button.button.expand type="submit" -> Login
              
                %p#error
      
    -else
        %span.logout
            %br
            %a href="/logout" -> logout


<script>
    $(document).ready(function() {
        $('#simple-menu').sidr();
    });
</script>

{% endhaml %}