{% haml %}

%html
    %head
        %link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
        %title - Sports betting strategies

        -assets "js_all"
            %script src="{{ ASSET_URL }}" type="text/javascript"
        -assets "css_all"
            %link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"
    
    %body
        -include "header.html"
        -include "left_side_slide.html"

        .large-12.columns
            .large-5.large-centered.columns
                %form#registration_form method="post" action="/registration"
                    %fieldset
                        %legend -> Registration
                    
                        %br
                        .large-4.columns
                            %label -> Username:
                        
                        .large-7.columns
                            %input#sign_up_username type="text" name="sign_up_username" value=""
                        
                        .large-1.columns
                            %i#username_icon_true.fa.fa-check
                            %i#username_icon_false.fa.fa-times
                        
                        .large-4.columns
                            %label -> Password:
                        
                        .large-7.columns
                            %input#sign_up_password type="password" name="sign_up_password" value=""
                        
                        .large-1.columns

                        .large-4.columns
                            %label -> E-mail:
                        
                        .large-7.columns
                            %input#sign_up_email type="email" name="sign_up_email" value=""
                        
                        .large-1.columns
                            %i#email_icon_true.fa.fa-check
                            %i#email_icon_false.fa.fa-times
                        
                        .large-12.columns
                            %br
                            %button.button.expand -> Sign Up
                        
                        -if error
                            %label
                                %span
                                    %p#error -> {{ error }}
                     
        #footer
            %span.copyright
                %p -> © 2014 AllWebDirectory
            %span.source
                %a href="/" -> contact us


        %script
            $(document).change(registration_form_check);

{% endhaml %}