{% haml %}

#right_side_bar
    %form#searchForm method="post" action="/search_results"
        %br
        #row
            .large-12.columns
                %label -> Country
                    %select name="league"
                        %option selected="selected" value=""
                        -for league in leagues
                            %option value="{{ league }}" -> {{ league }}

            .large-12.columns
                %label -> League
                    %select name="group"
                        %option selected="selected" value=""

            .large-7.text-left.columns
                %label -> Select year
            .large-5.text-left.columns
                %label -> Coefficient
            

            .large-7.text-left.columns#years
                %input#2014 name="year" type="checkbox" value="2014"
                %label -> 2014
                %br

            .large-5.columns#years_coeffs
                %input#coefficient name="year_coeff" type="text" autocomplete='off'

            #mySlideContent
            #mySlideToggler
                %a href="javascript:void()" -> Show all years
            

        -if logged
            .row
                %br
                .large-12.columns
                    .row.collapse
                        .small-10.columns
                            %select#select_template name="select_template"
                                %option disabled selected -> select a template
                                -for template in templates
                                    %option value={{ template }} -> {{ template }}

                        .small-2.columns
                            %a#button_get.button.postfix onclick="get_template()" -> get
                        
                .large-12.columns
                    .row.collapse
                        .small-10.columns
                            %input.template_name name="template_name" type="text" placeholder="Template name"

                        .small-2.columns
                            %a#button_save.button.postfix onclick="save_template()" -> save


        .row
            %br
            .large-7.columns
                %label -> Handicap
                    %select#handicap name="handicap"
                        %option value="hda" -> Home/Draw/Away
                        %option value="ou" -> Over/Under

            .large-5.columns
                %label -> Playing at
                    %select name="form_playing_at_types"
                        %option selected value="h" -> At Home
                        %option value="a" -> Away

            .large-7.columns">
                %label -> Backing strategy
                    %select#strategy name="strategy"
                        %option value="h" -> Home
                        %option value="d" -> Draw
                        %option value="a" -> Away

            .large-5.columns">
                %label -> Value
                    %select#ou_values disabled name="ou_values"
                        -for ou_value in ou_values
                            %option value={{ou_value}} -> {{ ou_value }}

            .large-6.columns
                %label -> Game part
                    %select#game_part name="game_part
                        %option value="full" -> Full
                        %option value="frst" -> 1st Half
                        %option value="scnd" -> 2nd Half

            .large-6.columns
                %label -> Odds type
                    %select#odds_type name="odds_type
                        %option value="a" -> Average
                        %option value="h" -> Highest

            .large-6.columns
                %label -> Odds toggle
                    %input.high_input name="odd_toggle" type="text" autocomplete='off'

            .large-6.columns
                %label
                    %i.fa.fa-usd
                    %b -> Stake
                    %input.high_input name="odd_value" type="text" autocomplete='off'

            
            
            .large-12.columns
                %br
                %input.button.expand disabled type="submit"value="Go"

            .large-12.columns
                %span#error -> {{error}}


<script type="text/javascript">
    $(function(){

        $('#mySlideContent').css('display','none');
        $('#mySlideToggler').click(function(){

            if ($('#mySlideContent').css('display') == 'block') {
                $('#mySlideContent').css('display','none');
                return
            };
            $('#mySlideContent').css('display','block');

        });
    });
</script>

<script type="text/javascript">
    $("#handicap").change(function(){

        var handicap = $("#handicap").find(":selected").text();


        if (handicap == 'Home/Draw/Away') {
            $("#ou_values").attr("disabled", "disabled");
            $('#strategy').html('');

            function hda_appender(selector) {

                $(selector)
                    .append('<option value="h">Home</option>')
                    .append('<option value="d">Draw</option>')
                    .append('<option value="a">Away</option>')
            }
            hda_appender('#strategy');

        };

        if (handicap == 'Over/Under') {
            $("#ou_values").removeAttr("disabled");
            $('#strategy').html('');

            function ou_appender(selector) {

                $(selector)
                    .append('<option value="o">Over</option>')
                    .append('<option value="u">Under</option>')
            }
            ou_appender('#strategy');

        };

    });    
       
</script>

<script type="text/javascript">

    var page_height = $( 'html' ).height();
    $('#left_side_bar').css( 'height',page_height+80);
    $('#right_side_bar').css('height',page_height+80);
    
</script>


<script type=text/javascript>

    $('#searchForm').change(function () {

        var years_selected = [];
        $('#years input:checked').each(function() {
            years_selected.push($(this).attr('value'));
        });
        
        odd_value = $('input[name="odd_value"]').val()

        if (odd_value && years_selected.length > 0) {
            $("#error").text('');
            $('input[type=submit]').removeAttr("disabled");
        }
        else {
            $("#error").text("Year or Stake field is empty");
            $('input[type=submit]').attr('disabled', 'disabled');
        };
    });
    
</script>

<script type="text/javascript">
    
    $('select[name=group]').attr('disabled', 'disabled');

    $("select[name=league]").change(function(){
        var league = $('select[name=league]').find(":selected").text();

        if (league === '') {
            $('select[name=group]').attr('disabled', 'disabled');
        }

        else {
            $.post('/groups_update', {
                lea: league
            }).done(function(data) {
                $('select[name=group]').empty();

                $('select[name=group]').append(new Option(""));
                for (var i in data.groups) {
                    $('select[name=group]').append(new Option(data.groups[i], data.groups[i]));
                    $('select[name=group]').removeAttr("disabled");
                }
            }); 
        };
        
    });

</script>


:javascript
    
    $('input[name=year]').attr('disabled', 'disabled');
    $('input[name=year_coeff]').attr('disabled', 'disabled');

    $("select[name=group]").change(function(){
        var group = $('select[name=group]').find(":selected").text();
        var league = $('select[name=league]').find(":selected").text();
        $('#mySlideContent').html('');

        if (group === '') {
            $('input[name=year]').attr('disabled', 'disabled');
            $('input[name=year_coeff]').attr('disabled', 'disabled');
        }
        else {
            $.post('/years_update', {
                grp: group,
                lea: league
            }).done(function(data) {
                $('#years').html('');
                $('#years_coeffs').html('');

                if (data.years.length > 1) {
                    $('#mySlideToggler').show();
                }
                else {
                    $('#mySlideToggler').hide();
                }

                $('#years').append('%input#' + data.years.slice(-1) + ' name="years" type="checkbox" value="' + data.years.slice(-1) + '"%label' + data.years.slice(-1) + '%br');
                $('#years_coeffs').append('%input#coefficient name="' + data.years.slice(-1) + '_coeff" type="text" autocomplete="off"');

                for (var i in data.years.slice(1)) {
                    $('#mySlideContent').prepend('.large-7.text-left.columns#years -> %input#' + data.years[i] + ' name="years" type="checkbox" value="' + data.years[i] + '%label' + data.years[i] + '%br .large-5.columns#years_coeffs -> %input#coefficient name="' + data.years[i] + '_coeff" type="text" autocomplete="off"');
                };
            }); 
        };
    });
    


<script type="text/javascript">

    {% if templates %}
        var templates = {{ templates|tojson|safe }}
    {% else %}
        var templates = {}
    {% endif %}

</script>


{% endhaml %}