<div id="right_side_bar">
    <form id="searchForm" method="post" action="/search_results">
        <br>
        <div class="row">
            <div class="large-12 columns">
                <label>Country
                    <select name="league">
                        <option selected="selected" value=""></option>
                        {% for league in leagues %}
                            <option value="{{ league }}">{{ league }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="large-12 columns">
                <label>League
                    <select name="group">
                        <option selected="selected" value=""></option>
                    </select>
                </label>
            </div>

            <div class="large-7 text-left columns">
                <label>Select year</label>
            </div>
            <div class="large-5 text-left columns">
                <label>Coefficient</label>
            </div>


            

            <div class="large-7 text-left columns" id="years">
                <input id="2014"  name="year" type="checkbox" value="2014"><label>2014</label><br>
            </div>

            <div class="large-5 columns" id="years_coeffs">
                <input id="coefficient" name="year_coeff" type="text" autocomplete='off'>
            </div>


            <div id="mySlideContent">
            </div>
            <div id="mySlideToggler">
                <a href="javascript:void()"> Show all years</a>
            </div>

            
            
        </div>

        {% if logged %}
            <div class="row">
                <br>
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <select id="select_template" name="select_template">
                                <option disabled selected> -- select a template -- </option>
                                {% for template in templates %}
                                    <option value={{ template }}>{{ template }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="small-2 columns">
                            <a id="button_get" class="button postfix">get</a>
                        </div>
                    </div>
                </div>
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input class="template_name" name="template_name" type="text" placeholder="Template name">
                        </div>
                        <div class="small-2 columns">
                            <a id="button_save" class="button postfix">save</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        <div class="row">
            <br>
            <div class="large-7 columns">
                <label>Handicap
                    <select id="handicap" name="handicap">
                        <option value="hda">Home/Draw/Away</option>
                        <option value="ou">Over/Under</option>
                    </select>
                </label>
            </div>
            <div class="large-5 columns">
                <label>Playing at
                    <select name="form_playing_at_types">
                        <option selected value="h">At Home</option>
                        <option value="a">Away</option>
                    </select>
                </label>
            </div>
            <div class="large-7 columns">
                <label>Backing strategy
                    <select id="strategy" name="strategy">
                        <option value="h">Home</option>
                        <option value="d">Draw</option>
                        <option value="a">Away</option>
                    </select>
                </label>
            </div>


            <div class="large-5 columns">
                <label>Value
                    <select id="ou_values" disabled name="ou_values">
                        {% for ou_value in ou_values %}
                            <option value={{ou_value}}>{{ ou_value }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="large-6 columns">
                <label>Game part
                    <select id="game_part" name="game_part">
                        <option value="full">Full</option>
                        <option value="frst">1st Half</option>
                        <option value="scnd">2nd Half</option>
                    </select>
                </label>
            </div>
            
            <div class="large-6 columns">
                <label>Odds type
                    <select id="odds_type" name="odds_type">
                        <option value="a">Average</option>
                        <option value="h">Highest</option>
                    </select>
                </label>
            </div>
            <div class="large-6 columns">
                <label>Odds toggle
                    <input class="high_input" name="odd_toggle" type="text" autocomplete='off'>
                </label>
            </div>
            <div class="large-6 columns">
                <label><i class="fa fa-usd"></i> <b>Stake</b>
                    <input class="high_input" name="odd_value" type="text" autocomplete='off'>
                </label>
            </div>

            
            
            <div class="large-12 columns">
                <br> 
                <input disabled type="submit" class="button expand" value="Go">
            </div>

            <div class="large-12 columns">
                <span id="error">{{error}}</span>
            </div>
            <br><br><br><br>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </form>
</div>


<script type="text/javascript">
    $(function(){

        $('#mySlideContent').css('display','none');
        $('#mySlideToggler').click(function(){

            if ($('#mySlideContent').css('display') == 'block') {
                $('#mySlideContent').css('display','none');
                return
            };
            $('#mySlideContent').css('display','block');

        });
    });
</script>

<script type="text/javascript">
    $("#handicap").change(function(){

        var handicap = $("#handicap").find(":selected").text();


        if (handicap == 'Home/Draw/Away') {
            $("#ou_values").attr("disabled", "disabled");
            $('#strategy').html('');

            function hda_appender(selector) {

                $(selector)
                    .append('<option value="h">Home</option>')
                    .append('<option value="d">Draw</option>')
                    .append('<option value="a">Away</option>')
            }
            hda_appender('#strategy');

        };

        if (handicap == 'Over/Under') {
            $("#ou_values").removeAttr("disabled");
            $('#strategy').html('');

            function ou_appender(selector) {

                $(selector)
                    .append('<option value="o">Over</option>')
                    .append('<option value="u">Under</option>')
            }
            ou_appender('#strategy');

        };

     });    
       
</script>

<script type="text/javascript">

    var page_height = $( 'html' ).height();
    $('#left_side_bar').css( 'height',page_height+80);
    $('#right_side_bar').css('height',page_height+80);
    
</script>


<script type=text/javascript>

    $('#searchForm').change(function () {

        var years_selected = [];
        $('#years input:checked').each(function() {
            years_selected.push($(this).attr('value'));
        });
        
        odd_value = $('input[name="odd_value"]').val()

        if (odd_value && years_selected.length > 0) {
            $("#error").text('');
            $('input[type=submit]').removeAttr("disabled");
        }
        else {
            $("#error").text("Year or Stake field is empty");
            $('input[type=submit]').attr('disabled', 'disabled');
        };
    });
    
</script>

<script type="text/javascript">
    
    $('select[name=group]').attr('disabled', 'disabled');

    $("select[name=league]").change(function(){
        var league = $('select[name=league]').find(":selected").text();

        if (league === '') {
            $('select[name=group]').attr('disabled', 'disabled');
        }

        else {
            $.post('/groups_update', {
                lea: league
            }).done(function(data) {
                $('select[name=group]').empty();

                $('select[name=group]').append(new Option(""));
                for (var i in data.groups) {
                    $('select[name=group]').append(new Option(data.groups[i], data.groups[i]));
                    $('select[name=group]').removeAttr("disabled");
                }
            }); 
        };
        
    });

</script>


<script type="text/javascript">
    
    $('input[name=year]').attr('disabled', 'disabled');
    $('input[name=year_coeff]').attr('disabled', 'disabled');

    $("select[name=group]").change(function(){
        var group = $('select[name=group]').find(":selected").text();
        var league = $('select[name=league]').find(":selected").text();
        $('#mySlideContent').html('');

        if (group === '') {
            $('input[name=year]').attr('disabled', 'disabled');
            $('input[name=year_coeff]').attr('disabled', 'disabled');
        }
        else {
            $.post('/years_update', {
                grp: group,
                lea: league
            }).done(function(data) {
                $('#years').html('');
                $('#years_coeffs').html('');

                if (data.years.length > 1) {
                    $('#mySlideToggler').show();
                }
                else {
                    $('#mySlideToggler').hide();
                }

                $('#years').append('<input id="' + data.years.slice(-1) + '" name="years" type="checkbox" value="' + data.years.slice(-1) + '"><label>' + data.years.slice(-1) + '</label><br>');
                $('#years_coeffs').append('<input id="coefficient" name="' + data.years.slice(-1) + '_coeff" type="text" autocomplete="off">');

                for (var i in data.years.slice(1)) {
                    $('#mySlideContent').prepend('<div class="large-7 text-left columns" id="years"><input id="' + data.years[i] + '" name="years" type="checkbox" value="' + data.years[i] + '"><label>' + data.years[i] + '</label><br></div><div class="large-5 columns" id="years_coeffs"><input id="coefficient" name="' + data.years[i] + '_coeff" type="text" autocomplete="off"></div>');
                };
            }); 
        };
    });
    
</script>

<script type="text/javascript">

    {% if templates %}
        var templates = {{ templates|tojson|safe }}
    {% else %}
        var templates = {}
    {% endif %}

</script>


<script type="text/javascript">

    $("#button_save").click(function(){

        var template_name = $('input[name=template_name]').val();

        if (template_name === "") {
            alert('Put name');
            return
        }

        var form_playing_at_types  = $('select[name=form_playing_at_types]').find(":selected").val();
        var handicap    = $('select[name=handicap]').find(":selected").val();
        var strategy    = $('select[name=strategy]').find(":selected").val();
        var ou_values   = $('select[name=ou_values]').find(":selected").val();
        var game_part   = $('select[name=game_part]').find(":selected").val();
        var odds_type   = $('select[name=odds_type]').find(":selected").val();
        var odd_toggle  = $('input[name=odd_toggle]').val();
        var odd_value   = $('input[name=odd_value]').val();

        $.post('/save_template', {

            form_playing_at_types: form_playing_at_types,
            handicap:      handicap,
            strategy:      strategy,
            ou_values:     ou_values,
            game_part:     game_part,
            odds_type:     odds_type,
            odd_toggle:    odd_toggle,
            odd_value:     odd_value,
            template_name: template_name

        }).done(function(data) {

            templates = data.templates
            $('select[name=select_template]').empty();

                function templates_appender(selector) {
                    $(selector).append('<option disabled selected> -- select a template -- </option>')
                    $.each(data.templates, function (i, v) {
                        $(selector)
                            .append('<option>' + i + '</option>')
                    });
                }
                templates_appender('select[name=select_template]');
                alert('Template saved');


        });
    });

</script>


<script type="text/javascript">
    $("#button_get").click(function() {

        var selected_template = $('select[name=select_template]').find(":selected").val();
        var template_values   = JSON.parse(templates[selected_template])

        for (x in template_values){
            $('select[name=' + x + ']').val(template_values[x]);
            $('input[name='  + x + ']').val(template_values[x]);
        }

        if ($('input[name="odd_value"]').val() === ""){
            $("#error").text("Year or Stake field is empty");
            $('input[type=submit]').attr('disabled', 'disabled');
        }
        
    })
</script>