{% haml %}

#right_side_bar
    %form#searchForm method="post" action="/search_results"
        %br
        %br
        #row
            .large-3.columns
                %label.right-inline -> Country
            .large-9.columns
                %select name="league"
                    %option selected="selected" value=""
                    -for league in leagues
                        %option value="{{ league }}" -> {{ league }}

            .large-3.columns
                %label -> League
            .large-9.columns
                %select name="group" disabled
                    %option selected="selected" value=""


            .large-7.text-left.columns
                %br
                %label -> Select year
            .large-5.text-left.columns
                %br
                %label -> Coefficient

            .large-7.text-left.columns#years
                %input#2014 name="year" type="checkbox" value="2014" disabled
                %label
                    2014
                %br
            .large-5.columns#years_coeffs
                %input#coefficient name="year_coeff" type="text" autocomplete='off' disabled

            #mySlideContent
            #mySlideToggler
                %a.show_years href="javascript:void()" -> Show all years
            

        -if logged
            .row
                %br
                .large-12.columns
                    .row.collapse
                        .small-9.columns
                            %select#select_template name="select_template"
                                %option disabled selected -> select a template
                                -for template in templates
                                    %option value={{ template }} -> {{ template }}

                        .small-3.columns
                            %a#button_get.button.postfix disabled onclick="get_template()" -> get
                        
                .large-12.columns
                    .row.collapse
                        .small-9.columns
                            %input.template_name name="template_name" type="text" placeholder="Template name"

                        .small-3.columns
                            %a#button_save.button.postfix disabled onclick="save_template()" -> save

        .row
            %br
            .large-4.columns
                %label -> Handicap
                    %select#handicap name="handicap"
                        %option value="hda" -> H/D/A
                        %option value="ou" -> O/U

            .large-4.columns
                %label -> Where
                    %select name="form_playing_at_types"
                        %option selected value="h" -> At Home
                        %option value="a" -> Away

            .large-4.columns
                %label -> Strategy
                    %select#strategy name="strategy"
                        %option value="h" -> Home
                        %option value="d" -> Draw
                        %option value="a" -> Away

            .large-4.columns
                %label -> Value
                    %select#ou_values disabled name="ou_values"
                        -for ou_value in ou_values
                            %option value={{ou_value}} -> {{ ou_value }}

            .large-4.columns
                %label -> Game part
                    %select#game_part name="game_part"
                        %option value="full" -> Full
                        %option value="frst" -> 1st Half
                        %option value="scnd" -> 2nd Half

            .large-4.columns
                %label -> Odds type
                    %select#odds_type name="odds_type"
                        %option value="a" -> Average
                        %option value="h" -> Highest


            .large-6.columns
                %br
                %label -> Odds toggle
                    %input.high_input name="odd_toggle" type="text" autocomplete='off'

            .large-6.columns
                %br
                %label#stake
                    %i.fa.fa-usd
                    &nbsp;Stake
                    %input.high_input name="odd_value" type="text" autocomplete='off'

            .large-12.columns
                %label -> Stake varying
                    %select name="varying_type"
                        %option value="0" -> choose option
                        %option value="1" -> by % of new stake 
                        %option value="2" -> by % of init stake
                        %option value="3" -> fix stake after N losses

            .large-6.columns
                %label -> Varying value
                    %input name="varying_value" type="text" autocomplete='off'
            .large-6.columns
                %label -> Number of games
                    %input name="number_of_games" type="text" autocomplete='off'


            
            .large-12.columns
                %br
                %input.button.expand disabled type="submit" value="Go"

            .large-12.text-center.columns
                %span#error -> {{error}}
                <br><br><br><br><br>
                


%script

    ;Used to hide a list of available years
    $(function(){

        $('#mySlideContent').css('display','none');
        $('#mySlideToggler').click(function(){

            if ($('#mySlideContent').css('display') == 'block') {
                $('#mySlideContent').css('display','none');
                return
            };
            $('#mySlideContent').css('display','block');

        });
    });

    $('input[name=varying_value]').attr('disabled', 'disabled');
    $('input[name=number_of_games]').attr('disabled', 'disabled');
    
    $("select[name=group]").change(get_years);
    $("select[name=league]").change(get_groups);
    $("select[name=varying_type]").change(varying_type_change);
    $("#handicap").change(handicap_changed_event);

    $('#searchForm').on('keyup keypress change', search_form_check);

    

    ;Variable templates comes from Flask view and to be able to use it
    ;we need to convert it to JSON object
    {% if templates %}
        var templates = {{ templates|tojson|safe }}
    {% else %}
        var templates = {}
    {% endif %}

%script
        $('#right_side_bar').perfectScrollbar();


{% endhaml %}