{% haml %}

#select_teams_box.select_teams_popup
    %a.winter href="#" value='winter' -> WINTER teams
    %a.summer href="#" value='summer' -> SUMMER teams
    %br
    %span.warning -> Warning: switching selector will remove all selected teams
    %a.close onclick="close_selection_team()"
        %i.fa.fa-times
    #select_teams.large-12.large-centered.columns
        %form#select_teams data-bind="submit:addItem"
            %label -> Team name: 
            .large-12.columns
                .row.collapse
                    .large-7.columns
                        %input#query type="text" data-bind='value:itemToAdd, valueUpdate: "blur"'
                    .large-2.columns
                        %select#home_away_team name="home_away_team"
                            %option value='home' -> home
                            %option value='away' -> away
                    .large-3.columns
                        %button#button_team_name.button.postfix type="submit" data-bind="enable: itemToAdd().length > 0" -> Add
        -if logged
            .row
                .large-12.columns
                    .row.collapse
                        .small-9.columns
                            %select#select_teams_template name="select_teams_template"
                                %option disabled selected -> select a template
                                -for template in teams_templates
                                    %option value={{ template }} -> {{ template }}

                        .small-3.columns
                            %a#select_teams_button_get.button.postfix data-bind="click: get_teams_template" -> get
                        
                .large-12.columns
                    .row.collapse
                        .small-9.columns
                            %input.teams_template_name value='' name="teams_template_name" type="text" placeholder="Template name"

                        .small-3.columns
                            %a#select_teams_button_save.button.postfix onclick="save_teams_template()" -> save
                %a.delete_template onclick="delete_teams_template()" -> Delete template


        %br
        %label -> Selected teams:
        %select.selected_teams multiple="multiple" height="15" data-bind="options:allItems, selectedOptions:selectedItems"
         
        %div
            %button data-bind="click: removeSelected, enable: selectedItems().length > 0" -> Remove
            &nbsp;
            %button data-bind="click: sortItems, enable: allItems().length > 1" -> Sort
            %a.reset_all data-bind="click: removeAllItems, enable: allItems().length > 1" -> reset all

%script

    $(document).load(select_teams_box_prepare());
    $('#select_teams_box').on('keyup keypress change click', select_teams_box_prepare);


    function select_teams_box_prepare() {
        var summer_value = $('.summer').css('text-decoration');
        var winter_value = $('.winter').css('text-decoration');
        var query_value  = $('#query').val();
        if (summer_value === 'none' & winter_value === 'none') {
            $('#query').attr('disabled', 'disabled');
            $('#select_teams_template').attr('disabled', 'disabled');
            $('#select_teams_button_get').attr('disabled', 'disabled');
            $('#select_teams_button_save').attr('disabled', 'disabled');
            $('#home_away_team').attr('disabled', 'disabled');
        }
        else {
            $('#query').removeAttr('disabled');
            $('#select_teams_template').removeAttr('disabled');
            $('#select_teams_button_get').removeAttr('disabled');
            $('#select_teams_button_save').removeAttr('disabled');
        };
        if (!query_value) {
            $('#button_team_name').attr('disabled', 'disabled');
            $('#home_away_team').attr('disabled', 'disabled');
        }
        else {
            $('#button_team_name').removeAttr('disabled');
            $('#home_away_team').removeAttr('disabled');
        };
    };

    

    $('.summer, .winter').click(function() {
        $('.summer, .winter').css('text-decoration', 'none');
        $(this).css('text-decoration', 'underline');
        $('a.reset_all').click();
        $('#query').val('');
        var summer_winter = $(this).attr("value");
        $.ajax({
            url: '{{ url_for("autocomplete") }}',
            data: {'summer_winter': summer_winter }
        }).done(function (data) {
            $('#query').autocomplete({
                source: function(request, response) {
                    var results = $.ui.autocomplete.filter(data.json_list, request.term);
                    response(results.slice(0, 10));
                },
                minLength: 2,
            });
        });
    });


    ;Here we create Knockout stuff to control list values, enable adding values etc

    var BetterListModel = function () {
        this.itemToAdd = ko.observable("");
        this.allItems = ko.observableArray([]);
        this.selectedItems = ko.observableArray([]);
     
        this.addItem = function () {
            if ((this.itemToAdd() != "") && (this.allItems.indexOf(this.itemToAdd()) < 0))
                var home_away_team = $('#home_away_team').val();
                this.allItems.push(home_away_team + ' || ' + this.itemToAdd() + ';');
            this.itemToAdd("");
        };

        this.removeAllItems = function () {
            this.allItems.removeAll();
        };
     
        this.removeSelected = function () {
            this.allItems.removeAll(this.selectedItems());
            this.selectedItems([]);
        };
     
        this.sortItems = function() {
            this.allItems.sort();
        };

        this.get_teams_template = function () {
            var selected_template = $('select[name=select_teams_template]').find(":selected").val();
            var home_selected_teams   = JSON.parse(teams_templates[selected_template])['home'].split(';');
            var away_selected_teams   = JSON.parse(teams_templates[selected_template])['away'].split(';');
            this.allItems.removeAll();
            for (i in home_selected_teams) {
                if (home_selected_teams[i]) {
                    this.allItems.push('home || ' + home_selected_teams[i] + ';');
                }
            }
            for (i in away_selected_teams) {
                if (away_selected_teams[i]) {
                    this.allItems.push('away || ' + away_selected_teams[i] + ';');
                }
            }

        };
    };
     
    ko.applyBindings(new BetterListModel());


    $('a.reset_all').on('click', function() {
        $('#selected_teams').val('').trigger('chosen');
    });


{% endhaml %}