<html>
<head>
	<link href="static/css/foundation.css"   rel="stylesheet" media="screen">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
	
	<style>
		p {color: white;}
	</style>

	<title>Sports betting strategies</title>
	
</head>

<body>
	<br><br><br>
	<form id="searchForm" method="post" action="/test">
        <div class="row">
            <div class="large-9 columns">
                <input id="get_results_by_link" name="url" type="text" autocomplete='off'>
            </div> 
            
            <div class="small-3 columns">
                <a id="button_get" href="/test" class="button postfix">get results</a>
            </div>
        </div>

        <div class="large-12 columns">
            <span id="error">{{error}}</span>
        </div>
        <br><br><br><br>
    </form>

    <div id="content">
    	<div class="row">

            {% if results %}
                {% for k,v in results.iteritems() %}
                    <div class="large-3 columns">
                        <label>{{ k }}</label>
                    </div>
                    <div class="large-9 columns">
                        <input type  = "text" 
                               name  = "{{k}}" 
                               value = "{{ v }}"></input>
                    </div>
                {% endfor %}
            {% endif %}
    		
    	</div>

        <div class="row">
            <div class="large-3 large-offset-9 columns">
                <br>
                <a href="/test" class="button postfix">save changes</a>
            </div>
        </div>
    </div>
</body>