<html>
<head>
	<link href="static/css/foundation.css"   rel="stylesheet" media="screen">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
	
	<style>
		p {color: white;}
	</style>

	<title>Sports betting strategies</title>
	
</head>

<body>
	<br><br><br>
	<form id="searchForm" method="post" action="/test">
        <div class="row">
            <div class="large-12 columns">
                <label>Game url
                    <input class="high_input" name="url" type="text" autocomplete='off'>
                </label>
            </div> 
            
            <div class="large-6 large-centered columns">
                <br> 
                <input type="submit" class="button expand" value="Go">
            </div>

            <div class="large-12 columns">
                <span id="error">{{error}}</span>
            </div>
            <br><br><br><br>
        </div>
    </form>

    <div id="content">
    	<div class="row">
    		<div class="large-12 columns">
    			<center>
		    		{% if results %}
		    			{% for k,v in results.iteritems() %}
		    				<p id="results">{{ k }}: {{ v }}</p>
		    			{% endfor %}
		    		{% endif %}
	    		</center>
	    	</div>
    	</div>
    </div>
</body>