{% haml %}

%html
    %head
        -assets "js_all"
            %script src="{{ ASSET_URL }}" type="text/javascript"
        -assets "css_all"
            %link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"
    %body
        %form#apiForm method="post" action="/test"
            .row
                .large-9.columns
                    %input#get_results_by_link name="url" type="text" autocomplete='off'
                
                .small-3.columns
                    %button.button.postfix type="submit" id="button_get" href="/test" -> get results


        -if results
            #apiResult
                .row#apiResultLabels
                    -for k,v in results.iteritems()
                        .large-3.columns
                            %label << {{ k }}

                        .large-9.columns
                            %input type="text" name="{{k}}" value="{{ v }}"

                .row
                    .large-3.large-offset-9.columns
                        %a#apply_changes.button.postfix onclick="save_database_changes()"
                            save changes

        -else
            -if error
                .large-9.large-centered.columns#apiError -> No results found

    <script>
        $('input[name=id]').attr('disabled', 'disabled');
        $('input').each(function() {
            if ($(this).val() === "None") {
                $(this).attr('disabled', 'disabled');
            };
        });
    </script>


{% endhaml %}