

#home_results_table {
}

tr .table_total td {
  color: black;
}

#left_side_bar #download {
  width: 5rem;
  margin-top: 5rem;
}
#left_side_bar #download img {
  width: 3rem;
  margin-left: 1rem;
  opacity: 0.5;
}
#error {
  color: red;
}

#left_side_bar #download img:hover {
  opacity: 1;
}



#result_label img {
  width: 2.5rem;
  height: 2.5rem;
}

  #result_options {
    font-size: 1.5rem;
    vertical-align: middle;
    margin-left: 0.5rem;
  }
    #result_options a {
      color: #cdcdcd;
      opacity: 0.5;
    }
      #result_options a:hover {
        color: #ececec;
        opacity: 0.9;
        border-bottom: 7px solid #ffce66;
      }


      


  #result_label .non_higlighted {
    font-size: 1.5rem;
    vertical-align: middle;
    color: white;

  }
  #result_label .higlightedheader {
    vertical-align: middle;
    color: #ef493b;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  #result_options .higlighted {
    color: #ef493b;
  }





#mySlideToggler{
  margin-left: 1.2rem;
  text-decoration: underline;
}
#mySlideToggler a{
  font-size: 0.8rem;
}

#left_side_bar {
  width: 5rem;
  position: fixed;
  background: #2a2a2a;
  left: 0;
  z-index: 1;
  box-shadow: 5px 0px 5px -5px rgba(0,0,0,0.8);
}

#right_side_bar {
  width: 20rem;
  position: fixed;
  top: 4rem;
  background: #2a2a2a;
  right: 0;
  z-index: 1;
  box-shadow: inset 5px 5px 5px -5px rgba(0,0,0,0.8);
  -webkit-box-shadow: inset 5px 5px 5px -5px rgba(0,0,0,0.8);
     -moz-box-shadow: inset 5px 5px 5px -5px rgba(0,0,0,0.8);
}

#container {
  height: auto !important;  
  width:100%;
  top: 0;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 4rem;
  line-height: 4.1rem;
  text-align: center;
  vertical-align: middle;
  z-index: 1000;

  background: #2a2a2a;
  box-shadow: 0 0 5px rgba(0,0,0,1);

}

#settings {
  position: absolute;
  float: left;
  margin-left: 0rem;
  background-color: #ed4a3b;
  width: 5rem;
}
  #settings img {
    height: 4rem;
  }


#logo {
  position: absolute;
  margin-left: 7%;
  font-size: 1.5rem;
  outline: none;
  margin: 0, auto;
}
  #logo a {
    color: #cdcdcd;
    text-decoration: none;
    opacity: 0.6;
  }
    #logo a:hover {
      color: #ececec;
      opacity: 0.8;
    }

#menu {
  float: right;
  margin-right: 2rem;
}

#menu ul li {
  display: inline;
  padding-left: 3rem;

  line-height: 4rem;

}
  #menu a{
    outline: none;
    text-decoration: none;
    color: #cdcdcd;
  }
  #menu a:hover{
    text-decoration: underline;
    color: #ececec;
  }
  

form #date {
  padding-left: 10px;
}

#search {
  width: 100%;
  line-height: 2.5rem;
  height: 2.5rem;
  text-align: center;
  background: rgba(221, 221, 221, 1); 
}
  #search form {
    float: left;
    margin-left: 150px;
  }
    #search form input {
      height: 1.9rem;
      margin-top: 0.3rem;
      padding-left: 5px;
    }

#registration_form legend {
  font-size: 1.2rem;
  height: 2rem;
  color: #2a2a2a;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#registration_form input {
  height: 2rem;
  margin-left: 1rem;
}
#registration_form label {
  font-size: 1.1rem;
}
#registration_form button {
  background-color: orange;
  line-height: 1rem;
}
  #registration_form button:hover {
    background-color: darkorange;
  }
#registration_form i {
  line-height: 2rem;
  font-size: 1.3rem;
}


#username_icon_true {
  display: none;
  color: green;
}
#username_icon_false {
  color: #ed4a3b;
}
#email_icon_true {
  display: none;
  color: green;
}
#email_icon_false {
  color: #ed4a3b;
}


#registration_form .title {
  color: #ccc;
  font-size: 1.5rem;
  margin-left: 6rem;
  padding-bottom: 2rem;
}

#filters {
  margin: 0;
  float: right;
  margin-right: 9.5rem;
}
  #filters span {
    opacity: 0.75;
  }

#content {
  position: absolute;
  overflow: hidden;
  margin-left: 10rem;  
  margin-top: 5rem;
  height: 80%;
}


.intro {
  text-align: left;
}
  .intro p {
    font-size: 1rem;
    line-height: 130%;
    color: #ececec;
    margin-top: 4rem;
  }


.intro2 {
  text-align: left;
}
  .intro2 p {
    font-size: 1.3rem;
    color: #ececec;
    margin-top: 2rem;
  }
  .intro2 a {
    color: #0887ad;
    font-size: 1.8rem;
  }
    .intro2 a:hover {
      color: #6edeff;
    }






#error {
  color: #ff3030;
  font-size: 1rem;
}
#adding_error {
  color: #ff3030;
  font-size: 1rem;
  display: inline-block;
}


.message {
  color: #318f08;
  padding-left: 100px;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
}





#footer {
  width: 100%;
  height: 3rem;
  bottom: 0px;
  background: #222222;
  position: fixed;
  z-index: 2;
}

.copyright {
  float: left;
  margin-left: 3rem;
  color: #ccc;
  font-size: 0.3rem;
}
  .copyright p {
    line-height: 3rem;
    font-size: 0.7rem;
  }

.source {
  float: right;
  margin-right: 3rem;
}
  .source a {
    line-height: 3rem;
    color: #ccc;
    font-size: 0.7rem;
  }
    .source a:hover {
      color: #ececec;
      text-decoration: underline;
    }


#loginForm {
  margin-top:30px;
}

#login_form input {
  height: 2rem;
  background-color: white;
  color: #2a2a2a;
}
#login_form button {
  line-height: 1rem;
}

#sidr span {
  font-size: 1.5rem;
}
  .sidr span a {
    margin-left:90px;
    color: #0887ad;
  }
    .sidr a:hover {
      color: #6edeff;
    }